{% extends "base.html" %} 
    {% block content %}
            <div class="container mt-5">
                <table class="table table table-dark table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Web Pages</th>
                            <th>Domain</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for uni in universities %}                    
                        <tr>
                            <td>{{ uni.name }}</td>
                            <td>{{ uni.web_pages.0 }}</td>
                            <td>{{ uni.domains.0 }}</td>
                            
                        </tr>                    
                    {% endfor %}    
                </tbody>
            </table>
        </div>  
{% endblock %}