body{
    background-image: url(images/BG.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.logoOp{
  height: 15vh;
  margin-top: -3vh;
}

.nav-link{
  font-size: 1.2rem;
}

.nav-link:hover{
  color: blue;
  text-decoration: underline;
}